<% if User.current.has_import_issues_permission?(@project) %>
  <% if params[:controller] == "issues" and params[:action] == "index" %>
	  <h3> Add Issues </h3>
	  <%= link_to("Add a new #{l(:label_issue).downcase}", { :controller => "issues", :action => "new" }) %><br>
	  <%= link_to 'Import from CSV', new_project_csv_import_path %><br>
  <% end %>
<% end %>
